In [1]:
import pandas as pd

In [57]:
df = pd.read_excel('Expense book.xlsx')

In [69]:
df.set_index('date')

            amount     type subtype1 subtype2
date
2018-02-17    2.00      f&d    drink        -
2018-02-17    3.00      f&d    drink        -
2018-02-18    7.73      f&d     food      job
2018-02-19    0.59      f&d     food      job
2018-02-20    9.05      f&d     food      job
2018-02-21    3.93      f&d     food      job
2018-02-22    5.08      f&d     food      job
2018-02-22    9.89      f&d    drink        a
2018-02-22    6.99      f&d    drink        a
2018-02-22    5.38      f&d    drink        a
2018-02-22    1.42      f&d    drink        a
2018-02-23    4.17      f&d    drink        a
2018-02-24    0.04      f&d    drink        a
2018-02-25    5.37      f&d     food        t
2018-02-26    3.38      f&d     food        t
2018-02-27 -400.00   income      job        -
2018-02-28  500.00     rent        -        -
2018-03-01 -150.00     rent   refund        -
2018-03-01   15.04  clothes        -        -
2018-03-01   23.90  clothes        -        -
2018-03-01   11.42  clothes        -        -
2018-03-01    4.94  clothes        -        -
2018-03-02   17.13  clothes        -        -
2018-03-03    6.40  clothes        -        -
2018-03-04   15.62  clothes        -        -
2018-03-05   19.58  clothes        -        -
2018-03-05    7.60  clothes        -        -
2018-03-05    1.99      f&d     food        t
2018-03-06    0.62      f&d     food        t
2018-03-06   23.23      f&d     food        t
2018-03-06   21.38      f&d     food        t
2018-03-07    4.05      f&d     food        w
2018-03-07   17.37      f&d     food        w
2018-03-08   12.09      f&d     food        w
2018-03-09    7.99      f&d     food        -
2018-03-10   17.44      f&d     food        -
2018-03-11   14.30      f&d     food        d
2018-03-12    9.57      f&d     food        d
2018-03-13    0.00      f&d    drink        -
2018-03-14   14.00      f&d    drink        -
2018-03-15   15.88      f&d    drink        a
2018-03-16   19.53      f&d    drink        a
2018-03-17    7.00      f&d    drink        a
2018-03-18    8.08      f&d    drink        a
2018-03-19    3.86      f&d    drink        a
2018-03-20    0.30      f&d    drink        a
2018-03-20    3.04      f&d    drink        a

In [43]:
df.describe()

           amount
count   47.000000
mean     7.263191
std     97.302912
min   -400.000000
25%      3.210000
50%      7.000000
75%     14.670000
max    500.000000

In [44]:
df2 = df.groupby(['type', 'subtype1', 'subtype2'])

In [45]:
df2.sum()

                           amount
type    subtype1 subtype2
clothes -        -         121.63
f&d     drink    -          19.00
                 a          85.58
        food     -          25.43
                 d          23.87
                 job        26.38
                 t          55.97
                 w          33.51
income  job      -        -400.00
rent    -        -         500.00
        refund   -        -150.00

In [47]:
df['amount'] *= -1

In [49]:
df

         date  amount     type subtype1 subtype2
0  2018-02-17   -2.00      f&d    drink        -
1  2018-02-17   -3.00      f&d    drink        -
2  2018-02-18   -7.73      f&d     food      job
3  2018-02-19   -0.59      f&d     food      job
4  2018-02-20   -9.05      f&d     food      job
5  2018-02-21   -3.93      f&d     food      job
6  2018-02-22   -5.08      f&d     food      job
7  2018-02-22   -9.89      f&d    drink        a
8  2018-02-22   -6.99      f&d    drink        a
9  2018-02-22   -5.38      f&d    drink        a
10 2018-02-22   -1.42      f&d    drink        a
11 2018-02-23   -4.17      f&d    drink        a
12 2018-02-24   -0.04      f&d    drink        a
13 2018-02-25   -5.37      f&d     food        t
14 2018-02-26   -3.38      f&d     food        t
15 2018-02-27  400.00   income      job        -
16 2018-02-28 -500.00     rent        -        -
17 2018-03-01  150.00     rent   refund        -
18 2018-03-01  -15.04  clothes        -        -
19 2018-03-01  -23.90  clothes        -        -
20 2018-03-01  -11.42  clothes        -        -
21 2018-03-01   -4.94  clothes        -        -
22 2018-03-02  -17.13  clothes        -        -
23 2018-03-03   -6.40  clothes        -        -
24 2018-03-04  -15.62  clothes        -        -
25 2018-03-05  -19.58  clothes        -        -
26 2018-03-05   -7.60  clothes        -        -
27 2018-03-05   -1.99      f&d     food        t
28 2018-03-06   -0.62      f&d     food        t
29 2018-03-06  -23.23      f&d     food        t
30 2018-03-06  -21.38      f&d     food        t
31 2018-03-07   -4.05      f&d     food        w
32 2018-03-07  -17.37      f&d     food        w
33 2018-03-08  -12.09      f&d     food        w
34 2018-03-09   -7.99      f&d     food        -
35 2018-03-10  -17.44      f&d     food        -
36 2018-03-11  -14.30      f&d     food        d
37 2018-03-12   -9.57      f&d     food        d
38 2018-03-13   -0.00      f&d    drink        -
39 2018-03-14  -14.00      f&d    drink        -
40 2018-03-15  -15.88      f&d    drink        a
41 2018-03-16  -19.53      f&d    drink        a
42 2018-03-17   -7.00      f&d    drink        a
43 2018-03-18   -8.08      f&d    drink        a
44 2018-03-19   -3.86      f&d    drink        a
45 2018-03-20   -0.30      f&d    drink        a
46 2018-03-20   -3.04      f&d    drink        a

In [75]:
df3.to_excel('bla.xlsx')

In [72]:
df3 = pd.read_excel('bla.xlsx').set_index('date')

In [73]:
df3

            amount     type subtype1 subtype2
date
2018-02-17   -2.00      f&d    drink        -
2018-02-17   -3.00      f&d    drink        -
2018-02-18   -7.73      f&d     food      job
2018-02-19   -0.59      f&d     food      job
2018-02-20   -9.05      f&d     food      job
2018-02-21   -3.93      f&d     food      job
2018-02-22   -5.08      f&d     food      job
2018-02-22   -9.89      f&d    drink        a
2018-02-22   -6.99      f&d    drink        a
2018-02-22   -5.38      f&d    drink        a
2018-02-22   -1.42      f&d    drink        a
2018-02-23   -4.17      f&d    drink        a
2018-02-24   -0.04      f&d    drink        a
2018-02-25   -5.37      f&d     food        t
2018-02-26   -3.38      f&d     food        t
2018-02-27  400.00   income      job        -
2018-02-28 -500.00     rent        -        -
2018-03-01  150.00     rent   refund        -
2018-03-01  -15.04  clothes        -        -
2018-03-01  -23.90  clothes        -        -
2018-03-01  -11.42  clothes        -        -
2018-03-01   -4.94  clothes        -        -
2018-03-02  -17.13  clothes        -        -
2018-03-03   -6.40  clothes        -        -
2018-03-04  -15.62  clothes        -        -
2018-03-05  -19.58  clothes        -        -
2018-03-05   -7.60  clothes        -        -
2018-03-05   -1.99      f&d     food        t
2018-03-06   -0.62      f&d     food        t
2018-03-06  -23.23      f&d     food        t
2018-03-06  -21.38      f&d     food        t
2018-03-07   -4.05      f&d     food        w
2018-03-07  -17.37      f&d     food        w
2018-03-08  -12.09      f&d     food        w
2018-03-09   -7.99      f&d     food        -
2018-03-10  -17.44      f&d     food        -
2018-03-11  -14.30      f&d     food        d
2018-03-12   -9.57      f&d     food        d
2018-03-13    0.00      f&d    drink        -
2018-03-14  -14.00      f&d    drink        -
2018-03-15  -15.88      f&d    drink        a
2018-03-16  -19.53      f&d    drink        a
2018-03-17   -7.00      f&d    drink        a
2018-03-18   -8.08      f&d    drink        a
2018-03-19   -3.86      f&d    drink        a
2018-03-20   -0.30      f&d    drink        a
2018-03-20   -3.04      f&d    drink        a