In [1]:
import pandas as pd

In [9]:
df = pd.read_excel('Expense book.xlsx')

In [10]:
df.head()

,date,amount,type,subtype1,subtype2,Unnamed: 5,Unnamed: 6
0,2018-02-17,2,Café,drink,NaN,NaN,"subtype2 = {a, t, w, d}"
1,2018-02-17,3,Café,drink,NaN,NaN,NaN